// Definitions

$primaryColor: #007bff;
$secondaryColor: #d1d1d1;

$hoverDarken: 0.15;

@font-face {
  font-family: "Enixe";
  src: url("~@/assets/fonts/enixe/Enixe.ttf") format("truetype");
}

@font-face {
  font-family: "Unispace";
  src: url("~@/assets/fonts/unispace it.ttf") format("truetype");
}

.primary-font {
  font-family: "Enixe";
}

.secondary-font {
  font-family: "helvetica";
}

p {
  text-align: justify;
  font-size: 18px;
}

.error {
  color: red;
  font-size: 12px;
  font-style: italic;
  padding: 5px;
}

.card-header {
  background-color: $primaryColor !important;
  color: white;
}

.link-black {
  color: black;
}

.image-center {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
}

.thumbnail-container {
  width: 175px;
}

.thumbnail {
  max-height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}