// Definitions

$primaryColor: #007bff;
$primaryHoverColor: #0063cc;
$secondaryColor: #d1d1d1;

$hoverDarken: 0.15;

@font-face {
  font-family: "Enixe";
  src: url("~@/assets/fonts/enixe/Enixe.ttf") format("truetype");
}

@font-face {
  font-family: "Unispace";
  src: url("~@/assets/fonts/unispace it.ttf") format("truetype");
}

.primary-font {
  font-family: "Enixe";
}

.secondary-font {
  font-family: "helvetica";
}

p, ol, ul {
  // text-align: justify;
  font-size: 18px;
}

.error {
  color: red;
  font-size: 12px;
  font-style: italic;
  padding: 5px;
}

.card-header {
  background-color: $primaryColor !important;
  color: white;
}

.card-title {
  margin: 0;
}

.link-black {
  color: black;
}

.image-center {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
}

.thumbnail-container {
  width: 175px;
}

.thumbnail {
  max-height: 130px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  .article {
    width: 100%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .article {
    width: 100%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .article {
    width: 80%;
    margin: auto;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .article {
    width: 70%;
    margin: auto;
  }
}